.box-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.box {
    background-color: #ffffff;
    width: 400px; 
    margin: 50px 0;
    padding: 40px; 
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);    
}

.box h2 {
    margin-top: 0;
    font-size: 24px; 
    margin-bottom: 20px; 
}

.box button {
    display: block;
    margin: 20px 0; 
    padding: 15px 30px; 
    font-size: 16px;
    border: none; 
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box button:hover {
    background-color: #0056b3;
}