<head>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
</head>
<body>
    {% block body %}
        <div class="box-container">
            <div class="box">
                <h2>Specialist</h2>
                <button onclick="location.href='/specialist/login'">Login</button>
            </div>

            <div class="box">
                <h2>Customer</h2>
                <button onclick="location.href='/customer/reservation'">Make Reservation</button>
                <button onclick="location.href='/customer/visit'">Check Reservation</button>
            </div>
        </div>
    {% endblock %}
</body>